@using ProjectUni.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/logo-.jpeg" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/LoginTheam/css/main.css">
    <style>
        .pic {
            background-image: url('../../images/AccountImage.png');
            height: 100px;
            width: 100%;
            position: relative;
            z-index: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 70px 15px 74px 15px;
        }
        .row {
            margin: 20px 1px 10px 80px;
        }
        .form-control:hover {
            border-color: #481762;
            box-shadow: inset 0 1px 1px #481762, 0 0 8px #481762;
        }

        .b:hover {
            border-color: #481762;
            box-shadow: inset 0 1px 1px #481762, 0 0 8px #481762;
        }
    </style>
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="height:650px;border:solid #481762;">


                <!-- Picture -->
                <div class="pic" @*class="login100-form-title"*@>
                    <span class="login100-form-title-1" style="color:#481762;font-weight:bold;padding-right:90px;text-align:right;">
                        تسجيل الدخول
                    </span>
                </div>

                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = " validate-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <!--البريد الالكتروني-->
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label class="label" style="color: #481762; font-weight:bold;font-size:16px;text-align:center;">البريد الإلكتروني أو اسم المستخدم</label>
                        </div>
                    </div>

                    <!--كلمة المرور -->
                    <div class="row">
                        <div class="col-md-8">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "field-validation-error text-dangerext-danger" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            <label class="label" style="color: #481762; font-weight:bold;font-size:16px; background-color:white;text-align:center;">كلمة المرور</label>
                        </div>
                    </div>

                    <!--تذكرني-->
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            <input class="input-checkbox100 b" id="RememberMe" type="checkbox" name="RememberMe">

                            <label class="label-checkbox100" for="RememberMe" style="color: #481762; font-weight:bold;font-size:16px;">
                                تذكرني
                            </label>
                        </div>
                    </div>
                    <br />

                    <!-- دخول -->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <div class="">
                                <button class="btn b" type="submit" style="width:100px;background-color:white;color:#481762;font-weight:bold;border:solid #481762 2px;">
                                    دخول
                                </button><br />
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- انشاء حساب -->
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <div class="">
                                <span class="login100-form-title-1" style="color:#481762;font-weight:bold;font-size:16px;">
                                    ليس لديك حساب؟
                                </span><br />
                                <div class="">
                                    <button class="btn b" style="width:100px;background-color:white;border:solid #481762 2px;">
                                        <a href="/Account/Register" style="color:#481762;font-weight:bold;">أنشئ الآن</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <!--back to home-->
                    <div style="text-align:right;padding-right:30px;">
                        <a href="/Home/Index" style="color:#481762;font-weight:bold;">الرجوع للصفحة الرئيسية</a>
                        <svg class="bi bi-arrow-right-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L10.793 8 8.146 5.354a.5.5 0 010-.708z" clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 01.5-.5H11a.5.5 0 010 1H4.5A.5.5 0 014 8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                }

            </div>
        </div>
    </div> 
    <br />

                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/jquery/jquery-3.2.1.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/animsition/js/animsition.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/bootstrap/js/popper.js"></script>
                <script src="~/LoginTheam/vendor/bootstrap/js/bootstrap.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/select2/select2.min.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/daterangepicker/moment.min.js"></script>
                <script src="~/LoginTheam/vendor/daterangepicker/daterangepicker.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/vendor/countdowntime/countdowntime.js"></script>
                <!--===============================================================================================-->
                <script src="~/LoginTheam/js/main.js"></script>

</body>
</html>