@model IEnumerable<ProjectUni.Models.Feadback>

@{
    ViewBag.Title = "List Of Feadbacks";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table" id="s">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.note)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "deletefb", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $(document).ready(function () {
        $('#s').DataTable();
        
    });
</script>

